[submodule "blocks"]
	path = libblocks
	url = https://github.com/macmade/XEOS-lib-blocks.git
[submodule "c11"]
	path = libc11
	url = https://github.com/macmade/XEOS-lib-c11.git
[submodule "c99"]
	path = libc99
	url = https://github.com/macmade/XEOS-lib-c99.git
[submodule "dispatch"]
	path = libdispatch
	url = https://github.com/macmade/XEOS-lib-dispatch.git
[submodule "elf"]
	path = libelf
	url = https://github.com/macmade/XEOS-lib-elf.git
[submodule "iconv"]
	path = libiconv
	url = https://github.com/macmade/XEOS-lib-iconv.git
[submodule "objc"]
	path = libobjc
	url = https://github.com/macmade/XEOS-lib-objc.git
[submodule "posix"]
	path = libposix
	url = https://github.com/macmade/XEOS-lib-posix.git
[submodule "pthread"]
	path = libpthread
	url = https://github.com/macmade/XEOS-lib-pthread.git
[submodule "system"]
	path = libsystem
	url = https://github.com/macmade/XEOS-lib-system.git
[submodule "make"]
	path = make
	url = https://github.com/macmade/XEOS-makefile.git
